.contact-container-body {
    margin-top: 62px;
    background-color: rgb(6, 140, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.get-in-touch-container{
    background-color: white;
    display: flex;
    flex: 1;
    position: relative;
    max-width: 100%;
    
}

