.body {
    padding-top: 10px;
}
.count{
    font-size: 10rem;
    font-weight: 500;
    margin: 5px;
}

button{
    color: white;
    background-color: hsl(216, 81%, 51%);
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    margin: 0 5px;
    border-radius: 5px;
}